:root {
  --white: #ffffff;
  --plum-100: hsl(346, 100%, 11%);
  --plum-75: hsl(346, 50%, 11%);
  --shadow-alpha-100: rgba(0, 0, 0, 1);
  --shadow-alpha-75: rgba(0, 0, 0, 0.75);
  --shadow-alpha-50: rgba(0, 0, 0, 0.5);
  --shadow-alpha-25: rgba(0, 0, 0, 0.25);
}
.main-content {
  padding: 2rem 8rem;
}
.best-seller {
  display: flex;
  flex-direction: column;
}
.best-seller .best-seller-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem;
}
.best-seller .best-seller-title h1 {
  color: var(--plum-100);
  text-shadow: 2px 2px 8px var(--shadow-alpha-25);
}
.best-seller hr {
  width: 100%;
}
.best-seller .best-seller-row .best-seller-list {
  display: flex;
  flex-direction: column;
}
.best-seller-list .best-seller-list-frame {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem;
  box-shadow: 0px 2px 4px var(--shadow-alpha-75);
  cursor: pointer;
  overflow: hidden;
}
.best-seller-list .best-seller-list-frame:hover > .item-img {
  transform: scale(1.1, 1.1);
}
.best-seller-list .best-seller-list-frame .item-img {
  width: 100%;
  box-shadow: 0 1px 8px var(--shadow-alpha-75);
  transition: all 0.2s ease;
}
.best-seller-list .best-seller-list-frame .item-title {
  padding: 1rem 0;
  font-size: 2rem;
}
.best-seller-list .best-seller-list-frame .item-price {
  padding: 0.8rem 0;
  color: var(--plum-100);
  font-weight: 700;
}
.best-seller .best-seller-list-frame .item-button-buy {
  text-decoration: none;
  color: var(--plum-100);
  font-weight: 700;
  border: 1px solid var(--plum-75);
  border-radius: 0.5rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s ease;
  overflow: hidden;
}
.best-seller .best-seller-list-frame .item-button-buy div {
  max-width: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.3s ease-out 0.5s;
  color: #f5f5f5;
}
.best-seller .best-seller-list-frame .item-button-buy i {
  padding: 0.8rem 0;
  color: var(--plum-100);
  transition: all 0.3s ease;
}
.best-seller .best-seller-list-frame .item-button-buy:hover div {
  max-width: 4rem;
  padding: 0.5rem 0;
}
.best-seller .best-seller-list-frame .item-button-buy:hover i {
  color: #fff;
  padding-right: 0.5rem;
}
.best-seller .best-seller-list-frame .item-button-buy:hover {
  background-color: var(--plum-100);
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
}

/* Ipad, ... (Small tablet) */
@media screen and (max-width: 768px) and (min-width: 461px) {
}

/* Samsung S7, Iphone 6/7/8/X,... (mobile) */
@media screen and (max-width: 460px) {
}
