@import url("https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@700&family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif !important;
  font-size: 20px !important;
}
h1 {
  padding: 1rem;
}
#logo-store {
  max-width: 50px;
  padding-left: 10px;
}
.header-banner {
  background: #9b6246;
}

.navbar-store {
  background: #f7986e;
}
.nav-container {
  background: #f7986e;
}
.menu-button {
  height: 50px !important;
  width: 50px !important;
  border-radius: 20%;
  background-color: transparent;
  border-color: white;
}
.list-menu {
  justify-content: flex-end !important;
}
.list-menu-item {
  padding: 0 2rem !important;
}
.nav-link:hover {
  background-color: white;
  color: #9b6246 !important;
}
.banner {
  background-image: url("../background/background-quan-ver4.jpg");
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  padding: 10rem !important;
}
.title-banner {
  font-family: "Anton", sans-serif !important;
  color: white;
  padding-bottom: 10px;
}
.search-store {
  display: inline-block;
}
.search-bar {
  background: transparent !important;
  border-width: 3px !important;
  color: white !important;
  font-size: 20px !important;
}
.search-bar::placeholder {
  color: rgba(255, 255, 255, 0.8) !important;
}
.orange-color {
  color: #9b6246;
}
.list-content {
  padding: 5rem;
}
.slogan-up {
  font-size: 8rem;
}
.slogan-down {
  font-family: "Dancing Script", cursive;
}
.row {
  align-items: center;
}
.title {
  padding: 0 5rem;
}
.border-img {
  border-radius: 3.5rem !important;
}
.find-more .btn-outline-dark:hover {
  background-color: #9b6246 !important;
  border-color: #9b6246 !important;
  color: white !important;
}
.find-more button span:hover {
  color: white;
}
#about-company-context-1::before {
  content: "1";
  font-size: 3rem;
  padding: 1rem 2rem;
  margin-right: 1rem;
  border: 1px solid white;
  border-radius: 50%;
}
#about-company-context-2::before {
  content: "2";
  font-size: 3rem;
  padding: 1rem 2rem;
  margin-right: 1rem;
  border: 1px solid white;
  border-radius: 50%;
}
#about-company-context-3::before {
  content: "3";
  font-size: 3rem;
  padding: 1rem 2rem;
  margin-right: 1rem;
  border: 1px solid white;
  border-radius: 50%;
}
#about-company-context-4::before {
  content: "4";
  font-size: 3rem;
  padding: 1rem 2rem;
  margin-right: 1rem;
  border: 1px solid white;
  border-radius: 50%;
}
#about-us {
  background-color: #f7986e !important;
  color: white !important;
}
footer {
  text-align: center;
  background-color: #f7986e;
  padding: 50px;
}
.ref-link {
  text-decoration: none;
  color: white !important;
}
