.box-shaw{
	box-shadow: 0 0 12px black;
}
.margin_button
{
	margin: 0px auto!important;

}
.white-color
{
	color:white;
}
body{
	margin: 0;
	padding: 0;
	background-color: var(--plum);
}

	form input{
		border-radius: 10px;
		margin-left: 10px;
	}
	form button{
		display: block;
		margin: 0 auto;
		background-color: white;
	}
	.gseach
	{
		margin-left: 20px !important;
	}
	/* slide*/
  .sliders{  
	margin-top: 0px;
	background-color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .slider{
	width: 1100px;
	/* height: 500px; */
	overflow: hidden;

  }
  
  .slides{
	width: 500%;
	/* height: 500px; */
	display: flex;
  }
  
  .slides input{
	display: none;
  }
  
  .slide{
	width: 20%;
	transition: 2s;
  }
  
  .slide img{
	width: 1100px;
	/* height: 500px; */
  }
  
  
  .navigation-manual{
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
  }
  
  .manual-btn{
	border: 2px solid var(--plum);
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
  }
  
  .manual-btn:not(:last-child){
	margin-right: 40px;
  }
  
  .manual-btn:hover{
	background:var(--plum);
  }
  
  #radio1:checked ~ .first{
	margin-left: 0px;
  }
  
  #radio2:checked ~ .first{
	margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
	margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
	margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
	position: absolute;
	display: flex;
	width: 800px;
	justify-content: center;
	/* margin-top: 460px; */
  }
  
  .navigation-auto div{
	border: 2px solid var(--plum);
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
	margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
	background: var(--plum);
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
	background: var(--plum);
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
	background:var(--plum);
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
	background: var(--plum);
  }


section{
	display: flex;
	text-align: left;
	margin-bottom: 30px
}
.card
{
	margin-top: 50px;
	box-shadow: 0px 0px 12px black;
}

.button-card
{
	background-color:#923709;
	border-radius: 5px;
	margin: 0px 0px 0px 60px !important;
	box-shadow: 0px 0px 2px black;
	/* position: absolute; */
    /* left: 50%;
    top: 50%; */
    /* transform: translate(-50%, -50%); */
}
@media screen and (max-width: 1024px) and (min-width: 770px) {
	.button-card
	{
		margin: 0px 0px 0px 20px !important;
	}
}
@media screen and (max-width: 768px) and (min-width: 461px) {
	.button-card
	{
		margin: 0px 0px 0px 5px !important;
	}
}
@media screen and (max-width: 460px) {
	.button-card
	{
		margin: 0px 0px 0px 10px !important;
	}
}
.button-card:hover
{
	border: 1px solid black;
}
.img-card
{
	margin: 10px 10px;
}

img{
	max-width: 100%;
}

   /*1*/
.gallery{
	padding: 20px 0;
}
.item{

	background-color: #ffffff;
	padding:  2px;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	width: 100% !important;
	cursor: pointer;
	color:#9b6246;
	margin-top: 20px;
	margin-right: 5px !important;
}
.item:hover{
	border: dotted 1px #923709;
}
.gallery-item{
	background-color: #ffffff;
	color: #9b6246;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	max-width: 100%;
}
#gallery-modal .modal-img{
	width: 100%;
}

.footer {
	color: #fff;
	background-color: var(--plum-100);
	padding: 2rem 8rem;
	box-shadow: 0 -1px 4px var(--shadow-alpha-75);
	font-size: 14px;
  }
  .footer .footer-info {
	padding-bottom: 2rem;
  }
  .footer .footer-logo-location .footer-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .footer .footer-logo-location .footer-logo .footer-logo-caption {
	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;
  }
  .footer .footer-logo-location .footer-logo .footer-logo-img {
	max-width: 100%;
  }
  .footer .footer-location .footer-location-title {
	text-transform: uppercase;
	padding-bottom: 1rem;
	color: rgb(255, 255, 150);
  }
  .footer .footer-location .footer-location-list {
	padding: 0.5rem 0;
  }
  .footer .footer-location .footer-location-list i {
	padding-right: 0.5rem;
  }
  .footer .footer-location .footer-location-l-icon a {
	color: rgba(255, 255, 255, 0.75);
	padding-right: 1rem;
  }
  .footer .footer-outer {
	display: flex;
	flex-direction: column;
  }
  .footer .footer-outer .outer-title {
	text-transform: uppercase;
	padding-bottom: 1.5rem;
	color: rgb(255, 255, 150);
  }
  .footer .footer-outer .outer-link-ques {
	padding-bottom: 0.8rem;
	text-decoration: none;
	color: #fff;
  }
  .footer .footer-outer .outer-link-ques:hover {
	color: rgba(255, 255, 255, 0.75);
  }
  @media screen and (max-width: 768px) and (min-width: 461px) {
	.footer {
		padding: 2rem 4rem;
	  }
	  .footer .footer-location .footer-location-title {
		text-align: center;
	  }
	}
	@media screen and (max-width: 460px) {
		.footer {
			padding: 1rem 2rem;
		  }
		  .footer .footer-logo-location .footer-logo .footer-logo-img {
			max-width: 75%;
		  }
		  .footer .footer-location .footer-location-title {
			text-align: center;
		  }
		  .footer .footer-outer {
			display: flex;
			flex-direction: column;
			align-items: center;
		  }
		}




/*  */

.ss-1 .product-infomation   /*out*/
{
	color: black;
	display:flex;
	font-size: small;
	line-height: 21px;
	padding: 0 0px 12px;
	text-align: left;
	width:100%;
}
.ss-1-right
{
	margin: 16px auto;
}
#pp-product-img
{
	border: 1px solid #f4f4f4;
	border-radius: 6px;
	font-size: 14px;
	line-height: 21px;
	text-align: left; 
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 30px;
}
#pp-product-name.product-name
{
	color: black;
	font-size: large;
	font-weight: 600;
	line-height: 27px;
	margin: 0 16px 0 0 ;
	text-align: left;
}
#pp-product-price.price
{
	color:#923709;
	font-size: small;
	font-weight: 600;
	line-height: 21px;
	padding: 0 0px 0 0;
	text-align: left;
	float:left;
}
#pp-product-regular-price.regular-price
{
	color: black;
	font-size: 10px;
	line-height: 18px;
	text-align: left;
	text-decoration: line-through;
}
.product-info
{
	padding: 10px 0px;
	text-align: left;
	font-size: x-small;
}
.wrap-quantity.d-flex.align-items-center
{
	align-items: flex-start;
	color: black;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	line-height: 21px;
	text-align: left;
	float: left;
}
.change-quantity.decrease
{
	background:var(--plum);
	border: 2px solid var(--plum);
	border-radius: 50%;
	color: white;
	font-size: 30px; 
	font-weight: 900;
	width: 30px;
	height:30px;
	/* line-height: 12px; */
	text-align: center;
	float: left;
}
.amount
{
	color: black;
	font-size: 14px;
	line-height: 21px;
	padding: 0 15px;
	text-align: left;
	float: left;
}
.change-quantity.increase
{
	border: 5px solid var(--plum);
	background-color: var(--plum);
	border-radius: 50%;
	color: white;
	font-size: 30px;
	font-weight: 900;
	width: 30px;
	height:30px;
	line-height: 12px;
	text-align: center;
	float: left;
}
.btn-price-product
{
	background-color: #923709;
	border-radius: 30px;
	color: white;
	font-size: 14px;
	line-height: 32px;
	margin: 8px 0px;
	padding: 0px 20px;
	text-align:left;
	float: left;
}
.ss-2.product-customize
{
	color:black;
	font-size: 14px;
	line-height: 21px;
	margin: 0 0 20px;
	padding: 20px;
	text-align: left;
}
.customize-section.size
{

	margin-top: 100px;
	font-size:small;
	line-height:21px;
	text-align:left;

}
.customize-title{
	display:flex;
	justify-content: space-between;
	margin: 0 0 5px;
	padding: 0 20px;
	text-align: left;
}
.left
{
	font-size:large;
	font-weight: 600;
	text-align: left;
}
.fa-angle-down
{
	display: inline-block;
	font-weight: 900;
	line-height: 14px;
}
.container-radio
{
	padding: 8px 0px 8px 24px;

}
span
{
	display: inline;
}
.checkmark-radio
{
	background:#923709;
	border-radius: 50%;
}
.customize-section.sugar
{
	margin: 0px 0px 8px;
	text-align: left;
}
.customize-content
{
	align-items: center;
	background: white;
	display:flex;
	flex-wrap: wrap;
	padding: 0px 20px;
}