:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

a{
    text-decoration: none;
    color: black;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.heading{
    text-align: center;
    color:#010103   ;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}
.new .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.new .box-container .box{
    border:var(--border);    
}

.new .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.new .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.new .box-container .box:hover .image img{
    transform: scale(1.2);
}

.new .box-container .box .content{
    padding:2rem;
}

.new .box-container .box .content .title{
    font-size: 24px;
    line-height: 1.5;
    color:black;
    display:contents;
}

.new .box-container .box .content .title:hover{
    color:var(--main-color);
}

 .new .box-container .box .content span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
} 

.new .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
}
